{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}

            <p> {{ form.username.label}}</p>
            <p>{{form.username(class= 'forminput')}}</p>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.password.label}}</p>
            <p>{{form.password(class= 'forminput')}}</p>

            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.password2.label}}</p>
            <p>{{form.password2(class= 'forminput')}}</p>

            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}


            <p> {{ form.firstname.label}}</p>
            <p>{{form.firstname(class= 'forminput')}}</p>

            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p> {{ form.lastname.label}}</p>
            <p>{{form.lastname(class= 'forminput')}}</p>

            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p> {{ form.wsuid.label}}</p>
            <p>{{form.wsuid(class = 'forminput')}}</p>

            {% for error in form.wsuid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.email.label}}</p>
            <p>{{form.email(class= 'forminput')}}</p>

            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.phone.label}}</p>
            <p>{{form.phone(class= 'forminput')}}</p>

            {% for error in form.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.representative_name.label}}</p>
            <p>{{form.representative_name(class= 'forminput')}}</p>

            {% for error in form.representative_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        <p>{{ form.submit(class='button') }}</p>
    </form>
    
{% endblock %}